<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9874755361-55jqcio4urf1sr3kq3eunhi4k0f7mev3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9874755361-55jqcio4urf1sr3kq3eunhi4k0f7mev3</string>
	<key>API_KEY</key>
	<string>AIzaSyBjFlnAM3Clu61jxHNFhyWVCcLDiM1aU7M</string>
	<key>GCM_SENDER_ID</key>
	<string>9874755361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.embarcadero.FitnessWallet</string>
	<key>PROJECT_ID</key>
	<string>fitnesswallet-6380d</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnesswallet-6380d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9874755361:ios:e8d4cf050c266707cfb860</string>
</dict>
</plist>